# Server Configuration
PORT=
MODE=
ALLOW_ORIGINS=
FRONTEND_URL=

# Database Configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=


# JWT Configuration
AUTH_JWT_SECRET=
AUTH_TOKEN_COOKIE_NAME=
AUTH_TOKEN_EXPIRE_TIME=
AUTH_TOKEN_EXPIRED_TIME_REMEMBER_ME=
AUTH_REFRESH_TOKEN_COOKIE_NAME=
AUTH_REFRESH_TOKEN_EXPIRE_TIME=

#MAIL development
MAIL_PORT=
MAIL_HOST=
MAIL_FROM=
MAIL_USER=
MAIL_PASS=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_CACHE_TTL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

# Admin Seed Configuration
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=
